.material-symbols-outlined {
  transition: color 0.3s ease;
}

// TODO: 중복 정리
.button__component {
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &[data-type='editing'] {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 14;
      color: var(--gray-500);
    }

    margin-top: 1px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover {
      background-color: var(--gray-400);
      .material-symbols-outlined {
        color: var(--danger);
      }
    }
  }

  &[data-type='deletion'] {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 14;
      color: var(--gray-500);
    }

    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover {
      background-color: var(--gray-400);
      .material-symbols-outlined {
        color: var(--danger);
      }
    }
  }

  &[data-type='garbage'] {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 14;
      color: var(--gray-500);
    }

    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover {
      background-color: var(--gray-400);
      .material-symbols-outlined {
        color: var(--purple-dark);
      }
    }
  }

  &[data-type='theme'] {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 14;
      color: var(--text-color);
    }

    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover {
      background-color: var(--gray-400);
      .material-symbols-outlined {
        color: var(--blue-dark);
      }
    }
  }

  &[data-type='creation'] {
    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 16;
      color: var(--text-color);
    }

    width: 90px;
    height: 52px;
    background-color: var(--blue);
    border-radius: 8px;

    & .flex-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .text {
        font-size: 14px;
        color: var(--gray-700);
        font-weight: bold;
      }
    }
    &:hover {
      background-color: var(--blue-dark);
    }
  }
}
