.task__component {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 16px;
  gap: 12px;
  background-color: var(--gray-300);
}

.item-count__container {
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h3 {
      font-weight: bold;
    }
  }

  & .text {
    font-size: 14px;
  }

  & .count {
    color: var(--gray-600);
    font-size: 12px;
    line-height: 14px;
    background-color: var(--gray-400);
    padding: 3px;
    border-radius: 8px;
  }

  & .item-count__total {
    .text {
      color: var(--blue-dark);
    }
  }

  & .item-count__done {
    .text {
      color: var(--purple-dark);
    }
  }
}

.item-list__container {
  .task__component {
    border-radius: 8px;
    border: 1px solid var(--gray-400);

    &.done {
      border: 1px solid var(--gray-300);

      input[type='text'] {
        color: var(--gray-500);
        text-decoration: line-through;
      }
    }
  }
}

.item-list__empty__container {
  display: flex;
  border-top: 1px solid var(--gray-400);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;

  span > img {
    margin-bottom: 16px;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--gray-500);
  }
}
